<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="/dashboard">arrow_back</mat-icon>
            <h1 *ngIf="periodicRules" class="title">Tareas Periódicas</h1>
            <h1 *ngIf="!periodicRules" class="title">Tareas Puntuales</h1>
            <mat-icon class="icon right" style="font-size: 70px;" routerLink="/dashboard/rule">add</mat-icon>
        </div>
    </div>

    <div *ngIf="!periodicRules" class="container-fluid">
        <mat-form-field class="filter">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event, false)" placeholder="Ex. Mia">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table class="table-punctual" mat-table [dataSource]="punctualDataSource" matSort>

                <ng-container matColumnDef="active">
                    <th class="active" mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td class="active" mat-cell *matCellDef="let rule">
                        <mat-slide-toggle [(ngModel)]="rule.active" (click)="enableOrDisableRule(rule)">
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarea </th>
                    <td mat-cell *matCellDef="let rule">
                        <mat-icon *ngIf="rule.type === 'on'" class="icon-{{rule.type}}">power</mat-icon>
                        <mat-icon *ngIf="rule.type === 'off'" class="icon-{{rule.type}}">power_off</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="target">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Objetivo </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.group?.name || rule.device?.name}} </td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.user.nickname}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
                    <td mat-cell *matCellDef="let rule"> {{parseTime(rule.time)}} </td>
                </ng-container>

                <ng-container matColumnDef="day">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Día </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.executeAt | date : "dd/MM/yyyy"}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let rule">
                        <mat-icon class="icon" routerLink="/dashboard/rule/{{rule._id}}">edit</mat-icon>
                        <mat-icon class="icon" (click)="deleteRule(rule._id)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedPunctual"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedPunctual;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="paginationOptions"></mat-paginator>
        </div>
    </div>

    <div *ngIf="periodicRules" class="container-fluid">
        <mat-form-field class="filter">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event, true)" placeholder="Ex. Mia">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table class="table-periodic" mat-table [dataSource]="periodicDataSource" matSort>

                <ng-container matColumnDef="active">
                    <th class="active" mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td class="active" mat-cell *matCellDef="let rule">
                        <mat-slide-toggle [(ngModel)]="rule.active" (click)="enableOrDisableRule(rule)">
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarea </th>
                    <td mat-cell *matCellDef="let rule">
                        <mat-icon *ngIf="rule.type === 'on'" class="icon-{{rule.type}}">power</mat-icon>
                        <mat-icon *ngIf="rule.type === 'off'" class="icon-{{rule.type}}">power_off</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="target">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Objetivo </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.group?.name || rule.device?.name}} </td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.user.nickname}} </td>
                </ng-container>

                <ng-container matColumnDef="period">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Periodo </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.period | period}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
                    <td mat-cell *matCellDef="let rule"> {{parseTime(rule.time)}} </td>
                </ng-container>

                <ng-container matColumnDef="initDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de inicio </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.initDate | date : "dd/MM/yyyy"}} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de fin </th>
                    <td mat-cell *matCellDef="let rule"> {{rule.endDate | date : "dd/MM/yyyy"}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let rule">
                        <mat-icon class="icon" routerLink="/dashboard/rule/{{rule._id}}">edit</mat-icon>
                        <mat-icon class="icon" (click)="deleteRule(rule._id)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedPeriodic"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedPeriodic;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="paginationOptions"></mat-paginator>
        </div>
    </div>
    <div class="container-fluid footer-btn">
        <button *ngIf="periodicRules" class="btn btn-black" (click)="switchRules()">Ver tareas puntuales</button>
        <button *ngIf="!periodicRules" class="btn btn-black" (click)="switchRules()">Ver tareas periódicas</button>
    </div>
</div>