<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="{{backPath}}">arrow_back</mat-icon>
        </div>
    </div>

    <div class="user-form">
        <form (ngSubmit)="createOrUpdateUser()">
            <div class="form-group">
                <label>Nombre*</label>
                <input [(ngModel)]="user.nickname" type="text" class="form-control" placeholder="nombre de usuario"
                    name="nickname">
            </div>
            <div class="form-group">
                <label>Email*</label>
                <input [(ngModel)]="user.email" type="email" class="form-control" placeholder="user@example.com"
                    name="email">
            </div>
            <div *ngIf="currentUser.role === 'admin'" class="form-group">
                <mat-form-field>
                    <mat-label>Tipo de usuario</mat-label>
                    <mat-select [(value)]="user.role">
                        <mat-option value="admin">Administrador</mat-option>
                        <mat-option value="developer">Desarrollador</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button *ngIf="formAction === 'Actualizar' && !updatePassword" class="btn btn-secondary" (click)="switchPasswordInputs()">Cambiar contraseña</button>
            <div *ngIf="formAction === 'Crear' || updatePassword" class="form-group">
                <label>Contraseña*</label>
                <input [(ngModel)]="user.password" type="password" class="form-control" placeholder="contraseña"
                    name="password">
            </div>
            <div *ngIf="formAction === 'Crear' || updatePassword" class="form-group">
                <label>Confirma contraseña*</label>
                <input [(ngModel)]="passwordTwo" type="password" class="form-control" placeholder="contraseña"
                    name="passwordTwo">
            </div>
            <button *ngIf="formAction === 'Actualizar' && updatePassword" class="btn btn-secondary" (click)="switchPasswordInputs()">No cambiar contraseña</button>
            <button type="submit" class="btn btn-black">{{formAction}}</button>
        </form>
    </div>
</div>
