.toolbar{
    background-color: black;
    color: white;
}

.title-button{
    color: white;
    background-color: black;
    font-size: x-large;
}

.burguer-menu {
    position: fixed;
    right: 0;
}