<mat-toolbar class="toolbar">
    <button mat-flat-button class="title-button" (click)="goToHome()">ENERGYSAVER</button>
    <div class="burguer-menu">
        <mat-menu #appMenu="matMenu" xPosition="before">
            <button *ngIf="user.role === 'admin'" mat-menu-item routerLink="/home/users">Usuarios</button>
            <button mat-menu-item routerLink="/home/user/{{user.id}}">Perfil</button>
            <button mat-menu-item (click)="logout()">Cerrar sesión</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-toolbar>