<div class="container">
    <div class="card-deck text-center">
        <div class="col-md-4" *ngFor="let card of cards">
            <app-home-card imagePath="{{card.imagePath}}" imageName="{{card.title}}" path="{{card.path}}"
            title="{{card.title}}">
            </app-home-card>
        </div>
    </div>
</div>