<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.gnu.org/licenses/lgpl-3.0.txt">GNU GPL v3.0</a>
    </div>
</footer>