body {
    font-family: "Lato", sans-serif;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.icon {
    cursor: pointer;
}

.header {
    position: relative;
}

.right {
    position: absolute;
    right: -5%;
}

.device-form{
    margin-top: 1%;
}