<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="/dashboard/devices">arrow_back</mat-icon>
        </div>
    </div>

    <div class="device-form">
        <form (ngSubmit)="createOrUpdateDevice()">
            <div class="form-group">
                <label>Nombre*</label>
                <input [(ngModel)]="device.name" type="text" class="form-control" placeholder="nombre del dispositivo"
                    name="name">
            </div>
            <div class="form-group">
                <label>Dirección <a href="https://es.wikipedia.org/wiki/Direcci%C3%B3n_MAC">MAC</a>*</label>
                <input [(ngModel)]="device.mac" type="text" class="form-control" placeholder="50:3E:AA:E6:83:30"
                    name="mac">
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea [(ngModel)]="device.description" class="form-control"
                    placeholder="descripción del dispositivo" name="description"></textarea>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Tipo de Dispositivo</mat-label>
                    <mat-select [(value)]="device.type">
                        <mat-option value="workstation">Terminal de sobremesa</mat-option>
                        <mat-option value="printer">Impresora</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Sistema Operativo</mat-label>
                    <mat-select [(value)]="device.os">
                        <mat-option value="ubuntu">Ubuntu</mat-option>
                        <mat-option value="windows">Windows</mat-option>
                        <mat-option value="redhat">RedHat</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="currentUser.role === 'admin' && (formAction === 'Crear' || updateOwner)" class="form-group">
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <mat-select [(ngModel)]="device.user" name="user">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user.nickname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button *ngIf="currentUser.role === 'admin' && formAction === 'Actualizar' && !updateOwner" class="btn btn-secondary" (click)="switchOwnerSelector()">Cambiar propietario</button>
            <button *ngIf="currentUser.role === 'admin' && formAction === 'Actualizar' && updateOwner" class="btn btn-secondary" (click)="switchOwnerSelector()">No cambiar propietario</button>
            <button type="submit" class="btn btn-black">{{formAction}}</button>
        </form>
    </div>
</div>