<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="/dashboard">arrow_back</mat-icon>
            <h1 class="title">Usuarios</h1>
            <mat-icon class="icon right" style="font-size: 70px;" routerLink="/dashboard/user">add</mat-icon>
        </div>
    </div>

    <div class="container-fluid">
        <mat-form-field class="filter">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="nickname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let user"> {{user.nickname}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                    <td mat-cell *matCellDef="let user"> {{user.role}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let user">
                        <mat-icon class="icon" routerLink="/dashboard/user/{{user._id}}">edit</mat-icon>
                        <mat-icon class="icon" (click)="deleteUser(user)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="paginationOptions"></mat-paginator>
        </div>
    </div>
</div>