table {
  width: 100%;
}

td, th {
  width: 30%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  margin-top: 70px;
}

.icon {
  cursor: pointer;
}

.header {
  position: relative;
  text-align: center;
}

.title {
  display: inline-block;
  margin: 2% 0 0 0;
}

.left {
  position: absolute;
  left: 0%;
}

.right {
  position: absolute;
  right: 5%;
}