<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="/dashboard">arrow_back</mat-icon>
            <h1 class="title">Grupos de Dispositivos</h1>
            <mat-icon class="icon right" style="font-size: 70px;" routerLink="/dashboard/group">add</mat-icon>
        </div>
    </div>

    <div class="container-fluid">
        <mat-form-field class="filter">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let group"> {{group.name}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                    <td mat-cell *matCellDef="let group"> {{group.description | ellipsis:30}} </td>
                </ng-container>

                <ng-container matColumnDef="devices">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dispositivos </th>
                    <td mat-cell *matCellDef="let group"> {{group.devices.length}} </td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                    <td mat-cell *matCellDef="let group"> {{group.user.nickname}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let group">
                        <mat-icon class="icon" routerLink="/dashboard/group/{{group._id}}">edit</mat-icon>
                        <mat-icon class="icon" (click)="deleteGroup(group)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="paginationOptions"></mat-paginator>
        </div>
    </div>
    <div class="container-fluid footer-btn">
        <button class="btn btn-black" routerLink="/dashboard/devices">Dispositivos</button>
    </div>
</div>