table {
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .filter{
    margin-top: 70px;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .header {
    position: relative;
    text-align: center;
  }
  
  .left{
    position: absolute;
    left: 0%;
  }
  
  .right{
    position: absolute;
    right: 5%;
  }

  .title{
    display: inline-block;
    margin: 2% 0 0 0;
  }

  .footer-btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn{
    margin-top: 1%;
  }
  
  .btn-black {
    background-color: #000 !important;
    color: #fff;
  }