<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="/dashboard">arrow_back</mat-icon>
            <h1 class="title">Dispositivos</h1>
            <mat-icon class="icon right" style="font-size: 70px;" routerLink="/dashboard/device">add</mat-icon>
        </div>
    </div>

    <div class="container-fluid">
        <mat-form-field class="filter">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dispositivo </th>
                    <td mat-cell *matCellDef="let device"> {{device.name}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                    <td mat-cell *matCellDef="let device"> {{device.description | ellipsis}} </td>
                </ng-container>

                <ng-container matColumnDef="mac">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mac </th>
                    <td mat-cell *matCellDef="let device"> {{device.mac}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                    <td mat-cell *matCellDef="let device"> {{device.type == 'printer' ? 'Impresora' : 'Sobremesa'}} </td>
                </ng-container>

                <ng-container matColumnDef="os">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sistema Operativo </th>
                    <td mat-cell *matCellDef="let device"> {{device.os}} </td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                    <td mat-cell *matCellDef="let device"> {{device.user}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let device">
                        <mat-icon class="icon" routerLink="/dashboard/device/{{device._id}}">edit</mat-icon>
                        <mat-icon class="icon" (click)="deleteDevice(device)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="paginationOptions"></mat-paginator>
        </div>
    </div>
    <div class="container-fluid footer-btn">
        <button class="btn btn-black" routerLink="/dashboard/groups">Administrar Grupos</button>
    </div>
</div>