body {
    font-family: "Lato", sans-serif;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.icon {
    cursor: pointer;
}

.header {
    position: relative;
}

.right {
    position: absolute;
    right: -5%;
}

.group-form {
    margin-top: 1%;
}

.scroll-list{
    height: 250px;
    width: 100%;
    display: inline-block;
    overflow-y: scroll;
}

.list-container {
    width: 45%;
    max-width: 50%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.drop-list {
    border: solid 1px #ccc;
    min-height: 40px;
    background: rgb(185, 185, 185);
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.drop-box {
    padding: 15px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}