<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="/dashboard/groups">arrow_back</mat-icon>
        </div>
    </div>

    <div class="group-form">
        <form (ngSubmit)="createOrUpdateGroup()">
            <div class="form-group">
                <label>Nombre*</label>
                <input [(ngModel)]="group.name" type="text" class="form-control" placeholder="nombre del grupo"
                    name="name">
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea [(ngModel)]="group.description" class="form-control" placeholder="descripción del grupo"
                    name="description"></textarea>
            </div>
            <div cdkDropListGroup>
                <div class="list-container">
                    <h2>Disponibles</h2>
                    <div #scrollEl cdk-scrollable class="scroll-list">
                        <div cdkDropList [cdkDropListData]="freeDevices" class="drop-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="drop-box" *ngFor="let device of freeDevices" cdkDrag>{{device.name + " (" + device.user.nickname + ")"}}</div>
                        </div>
                    </div>
                </div>
                <div class="list-container">
                    <h2>Seleccionados</h2>
                    <div #scrollEl cdk-scrollable class="scroll-list">
                        <div cdkDropList [cdkDropListData]="group.devices" class="drop-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="drop-box" *ngFor="let device of group.devices" cdkDrag>{{device.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-black">{{formAction}}</button>
        </form>
    </div>
</div>