<div class="sidenav">
   <div class="login-main-text">
      <h1>Energysaver</h1><br><h2>Pagina de inicio</h2>
      <p>Entra o regístrate para empezar!!</p>
   </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <div *ngIf="register; then registerForm else loginForm"></div>
      <ng-template #registerForm>
         <div class="register-form">
            <form [formGroup]="registerGroup" (ngSubmit)="signUp()">
               <div class="form-group">
                  <label>Email</label>
                  <input [(ngModel)]="user.email" type="text" class="form-control" placeholder="email" name="email"
                     formControlName="email">
               </div>
               <div
                  *ngIf="registerGroup.controls['email'].invalid && (registerGroup.controls['email'].dirty || registerGroup.controls['email'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="registerGroup.controls['email'].errors.required">
                     El email es obligatorio.
                  </div>
               </div>
               <div class="form-group">
                  <label>Nombre</label>
                  <input [(ngModel)]="user.nickname" type="text" class="form-control" placeholder="nombre" name="nickname"
                     formControlName="nickname">
               </div>
               <div
                  *ngIf="registerGroup.controls['nickname'].invalid && (registerGroup.controls['nickname'].dirty || registerGroup.controls['nickname'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="registerGroup.controls['nickname'].errors.required">
                     El nombre es obligatorio.
                  </div>
               </div>
               <div class="form-group">
                  <label>Contraseña</label>
                  <input [(ngModel)]="user.password" type="password" class="form-control" placeholder="contraseña"
                     name="password" formControlName="password">
               </div>
               <div
                  *ngIf="registerGroup.controls['password'].invalid && (registerGroup.controls['password'].dirty || registerGroup.controls['password'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="registerGroup.controls['password'].errors.required">
                     La contraseña es obligatoria.
                  </div>
               </div>
               <div class="form-group">
                  <label>Confirmar contraseña</label>
                  <input [(ngModel)]="passwordTwo" type="password" class="form-control" placeholder="contraseña"
                     name="passwordTwo" formControlName="passwordTwo">
               </div>
               <div
                  *ngIf="registerGroup.controls['passwordTwo'].invalid && (registerGroup.controls['passwordTwo'].dirty || registerGroup.controls['passwordTwo'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="registerGroup.controls['passwordTwo'].errors.required">
                     La contraseña es obligatoria.
                  </div>
               </div>
               <button (click)="changeView()" class="btn btn-secondary">Entrar</button>
               <button type="submit" class="btn btn-black">Registrarme</button>
            </form>
         </div>
      </ng-template>
      <ng-template #loginForm>
         <div class="login-form">
            <form [formGroup]="creationGroup" (ngSubmit)="signIn()">
               <div class="form-group">
                  <label>Email</label>
                  <input [(ngModel)]="email" type="text" class="form-control" placeholder="email" name="email"
                     formControlName="email">
               </div>
               <div
                  *ngIf="creationGroup.controls['email'].invalid && (creationGroup.controls['email'].dirty || creationGroup.controls['email'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="creationGroup.controls['email'].errors.required">
                     El email es obligatorio.
                  </div>
               </div>
               <div class="form-group">
                  <label>Contraseña</label>
                  <input [(ngModel)]="password" type="password" class="form-control" placeholder="contraseña"
                     name="password" formControlName="password">
               </div>
               <div
                  *ngIf="creationGroup.controls['password'].invalid && (creationGroup.controls['password'].dirty || creationGroup.controls['password'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="creationGroup.controls['password'].errors.required">
                     La contraseña es obligatoria.
                  </div>
               </div>
               <button type="submit" class="btn btn-black">Entrar</button>
               <button (click)="changeView()" class="btn btn-secondary">Registrarme</button>
            </form>
         </div>
      </ng-template>
   </div>
</div>