body {
    font-family: "Lato", sans-serif;
}

.container {
    position: relative;
}

.container-form {
    position: absolute;
    width: 50%;
}

.form-right {
    right: 0px;
}

.form-left {
    left: 0px;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.icon {
    cursor: pointer;
}

.header {
    position: relative;
}

.right {
    position: absolute;
    right: -5%;
}

.rule-form {
    margin-top: 1%;
}