<div class="container">
    <div class="container-fluid">
        <div class="header">
            <mat-icon class="icon left" style="font-size: 70px;" routerLink="{{backPath}}">arrow_back</mat-icon>
        </div>
    </div>

    <div *ngIf="rule" class="rule-form">
        <form (ngSubmit)="createOrUpdateRule()">
            <div class="container-form form-left">
                <div class="form-group">
                    <h2>¿La regla es para un dispositivo o para un grupo?</h2>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Objetivo</mat-label>
                        <mat-select [(value)]="target">
                            <mat-option value="device">Dispositivo</mat-option>
                            <mat-option value="group">Grupo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <h2>Seleccione un {{target == 'device' ? 'Dispositivo' : 'Grupo'}}</h2>
                </div>
                <div *ngIf="target == 'device'" class="form-group">
                    <mat-form-field>
                        <mat-label>{{defaultDevice()}}</mat-label>
                        <mat-select [(ngModel)]="rule.device" name="device">
                            <mat-option *ngFor="let device of devices" [value]="device">
                                {{device.name + " (" + device.user.nickname + ")"}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="target == 'group'" class="form-group">
                    <mat-form-field>
                        <mat-label>{{defaultGroup()}}</mat-label>
                        <mat-select [(ngModel)]="rule.group" name="group">
                            <mat-option *ngFor="let group of groups" [value]="group">
                                {{group.name + " (" + group.user.nickname + ")"}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <h2>¿Qué desea hacer?</h2>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Acción</mat-label>
                        <mat-select [(value)]="rule.type">
                            <mat-option value="on">Encender dispositivo/s</mat-option>
                            <mat-option value="off">Apagar dispositivo/s</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <h2>¿A qué hora debe ejecutarse?</h2>
                </div>
                <div class="form-group">
                    <ngb-timepicker [(ngModel)]="time" name="time" [minuteStep]="5"></ngb-timepicker>
                </div>
                <div class="form-group">
                    <h2>¿Quiere que la regla sea periódica?</h2>
                </div>
                <div class="form-group">
                    <mat-slide-toggle [(ngModel)]="rule.periodic" name="periodic">{{rule.periodic ? 'Si' : 'No'}}
                    </mat-slide-toggle>
                </div>
                <button type="submit" class="btn btn-black">{{formAction}}</button>
            </div>
            <div class="container-form form-right">
                <div *ngIf="!rule.periodic" class="form-group">
                    <h2>¿Qué día se ejecutará?</h2>
                </div>
                <div *ngIf="!rule.periodic" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de ejecución</mat-label>
                        <input matInput [matDatepicker]="executionPicker" [(ngModel)]="rule.executeAt"
                            [value]="rule.executeAt" name="executeAt">
                        <mat-datepicker-toggle matSuffix [for]="executionPicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #executionPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="rule.periodic" class="form-group">
                    <h2>¿Qué día quiere empezar?</h2>
                </div>
                <div *ngIf="rule.periodic" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput [matDatepicker]="initPicker" [(ngModel)]="rule.initDate" [value]="rule.initDate"
                            name="initDate">
                        <mat-datepicker-toggle matSuffix [for]="initPicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #initPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="rule.periodic" class="form-group">
                    <h2>¿Qué día quiere acabar?</h2>
                </div>
                <div *ngIf="rule.periodic" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de fin</mat-label>
                        <input matInput [matDatepicker]="endPicker" [(ngModel)]="rule.endDate" [value]="rule.endDate"
                            name="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="rule.periodic" class="form-group">
                    <h2>Seleccione los días de la semana</h2>
                </div>
                <div *ngIf="rule.periodic" class="form-group">
                    <section class="example-section">
                        <span class="example-list-section">
                            <mat-checkbox class="example-margin" [checked]="period.completed"
                                [indeterminate]="someDay()" (change)="setAllDays($event.checked)">
                                {{period.name}}
                            </mat-checkbox>
                        </span>
                        <span class="example-list-section">
                            <ul>
                                <li *ngFor="let day of period.days">
                                    <mat-checkbox [(ngModel)]="day.completed" (ngModelChange)="updatePeriod()"
                                        name="day.name">
                                        {{day.name}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </span>
                    </section>
                </div>
            </div>
        </form>
    </div>
</div>