<mat-card class="card" routerLink="{{path}}">
    <mat-card-content>
        <h1>
            {{title}}
        </h1>
    </mat-card-content>
    <img mat-card-image src="{{imagePath}}" alt="{{imageName}}">
</mat-card>